[submodule "wp-content/plugins"]
	path = wp-content/plugins
	url = git@github.com:utunga/pae_online_plugins.git
[submodule "wp-content/themes/pae_online"]
	path = wp-content/themes/pae_online
	url = git@github.com:utunga/pae_online.git
